body {
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1.4;
    background: #f4f4f4;
    color: #444;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: .1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header h2 {
    margin-left: 10px;
}

header a {
    color: inherit !important;
}

header a.logo {
    height: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: .2em;
}

a, a.current {
    text-decoration: none;
}

.hide {
    display: none !important;
}

#response {
    margin-top: 8px;
}
/* search style */

.search {
    width: 100%;
    position: relative;
    display: flex;
    font-weight: 300;
    font-size: 40px;
    color: #555;
}

.search-term {
    float: left;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: #616161;
    flex: 1 0 auto;
    padding: 8px 20px;
    height: 40px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .15s ease-in-out;
}

.search-term:focus{
    color: #212121;
}

.search-btn {
    position: absolute;
    right: -30px;
    top: 10px;
    width: 40px;
    height: 36px;
    border: 0;
    background: transparent;
    text-align: center;
    color: #212121;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.search-btn:after {
    content: '\1F50D';
}
/*Resize the wrap to see the search bar change!*/
.wrapper {
    width: 50%;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* loader spinner */
#loading {
    display: inline-block;
    position: absolute;
    right: 45px;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(62, 81, 181);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

#error-message {
    font-size: 12px;
    color: #D50000;
    margin-top: 12px;
}

/* search style in the header */

.wrapper.top  {
    width: 30%;
    position: absolute;
    top: 40px;
    left: 81%;
    transform: translate(-50%, -50%);
}

.wrapper.top .search-term {
    height: 30px;
}

.wrapper.top .search-btn {
    top: 5px;
}

.wrapper.top #error-message {
    color: white;
    margin-top: 6px;
}

/* Table style */

table {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px #e0e0e0;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-top: 1px solid #f4f4f4;
}

td:first-child, th:first-child {
    padding-left: 16px;
}

td:last-child, th:last-child {
    padding-right: 16px;
}

td, th {
    text-align: left;
    padding: 8px;
}

th {
    color: #333;
}
