body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 0px 10px #666;
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 20px;
}

header a {
    color: white;
}

article {
    padding: 4px;
}

h1 {
    font-weight: normal;
    font-size: 2em;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #F0F0F0;
}

tr:hover {
    background-color: #E0E0E0;
}

th {
    background-color: #3f51b5;
    color: white;
    font-weight: normal;
}

table, th, td {
   padding: 8px;
}

a {
    text-decoration: none;
}

td a {
    display: block;
}

td.numeric {
    text-align: right;
}

caption {
    text-align: justify;
    padding: 10px;
}

td.job-flaky    { background-color: #fd9; }
td.job-troubled { background-color: #f96; }
td.job-broken   { background-color: #f66; }