# populate env used for stamping builds etc
build --workspace_status_command=./hack/print-workspace-status.sh
run --workspace_status_command=./hack/print-workspace-status.sh

# enable data race detection
test --features=race --test_output=errors

# only build tests when testing
test --build_tests_only

# you can run only lint tests with:
# bazel test //... --config=lint
test:lint --test_tag_filters=lint

# you can run non-lint tests with:
# bazel test //... --config=unit
test:unit --test_tag_filters=-lint

# --config=remote enable a remote bazel cache
# Note needs an instance name, see --config=remote-fejta for an example
build:remote --remote_cache=remotebuildexecution.googleapis.com
build:remote --tls_enabled=true
build:remote --remote_timeout=3600
build:remote --auth_enabled=true

# --config=remote-exec rmote execution to the the --config=remote cache
build:remote-exec --remote_executor=remotebuildexecution.googleapis.com
build:remote-exec --jobs=500

# --config=remote-fejta is an example instance name
# TODO(fejta): see how broadly we can provide this and/or add common corp instances
build:remote-fejta --remote_instance_name=projects/fejta-prod/instances/default_instance
