astroid==2.3.3
backports.functools_lru_cache==1.6.1
configparser==4.0.2
influxdb==5.2.3
isort==4.3.21
pylint==2.4.4
parameterized==0.7.4
PyYAML==5.3
ruamel.yaml==0.16.5
setuptools==44.0.0
sh==1.12.14
singledispatch==3.4.0.3
google-cloud-secret-manager==2.1.0
