body {
    padding-bottom: 20px;
}
.name {
    width: 10%;
}

.link {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-family: monospace;
}

td {
    text-align: unset !important;
}

button {
    user-select: none;
}
