.loglines {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height:1.2;
    color: #e8e8e8;
    background-color: #212121;
}
.loglines td {
    padding-left: 0;
}
.line-highlighted {
    color: rgba(255, 224, 0, 1.0);
}
.match-highlighted {
    color: rgba(255, 0, 0, 1.0);
}
.skipped {
    display: none;
}
td {
    padding: 2px;
}
tr {
    border: none;
}
.linenum {
    user-select: none;
    color: rgba(255,255,2552,0.6);
    text-align: right;
    vertical-align: top;
}

/* ansi colors from https://en.wikipedia.org/wiki/ANSI_escape_code#Colors */
.ansi-0 { color: #000000; }  /* Black */
.ansi-1 { color: #c23621; }  /* Red */
.ansi-2 { color: #25bc26; }  /* Green */
.ansi-3 { color: #adad27; }  /* Brown */
.ansi-4 { color: #492ee1; }  /* Blue */
.ansi-5 { color: #d338d3; }  /* Magenta */
.ansi-6 { color: #33bbc8; }  /* Cyan */
.ansi-7 { color: #cbcccd; }  /* Gray */
/* Bright */
.ansi-8 { color: #818383; }  /* Darkgray */
.ansi-9 { color: #fc391f; }  /* Red */
.ansi-10 { color: #31e722; }  /* Green */
.ansi-11 { color: #eaec23; }  /* Yellow */
.ansi-12 { color: #5833ff; }  /* Blue */
.ansi-13 { color: #f935f8; }  /* Magenta */
.ansi-14 { color: #14f0f0; }  /* Cyan */
.ansi-15 { color: #e9ebeb; }  /* White */
