{{define "header"}}
<link rel="stylesheet" href="style.css">
{{end}}

{{define "body"}}
{{$passed := eq .Status "SUCCESS"}}
{{$failed := eq .Status "FAILURE" "FAILED"}}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp metadata-table">
  <thead>
    <tr class="test-row {{if $passed}}passed-row{{else if $failed}}failed-row{{end}}">
      <td class="mdl-data-table__cell--non-numeric">Status</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Status}}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Started</td>
      <td class="mdl-data-table__cell--non-numeric">{{.StartTime}}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Elapsed</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Elapsed}}</td>
    </tr>
    {{range $key, $value := .Metadata}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{$key}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{$value}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}