/*This file serves for custom style extensions*/
body {
    background-color: #be1628;
}

header {
    background-color: black;
    display: flex;
}

div {
    background: #f5f5f5;
    border-radius: 15px;
}

table {
    background: #f5f5f5;
    border-radius: 15px;
}

tbody tr {
    border-top: 1px solid #f4f4f4;
}

tbody tr:hover {
    background: #f4f4f4;
}

.titleLogo {
    margin-top: 3px;
    margin-right: 10px;
    height:40px;
}
