ul.data {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.data li {
  margin-left: 20px;
  text-indent: -20px;
  word-break: break-word;
}

.literal {
  font-family: monospace;
  white-space: normal;
}

.pre {
  white-space: pre !important;
  color: #e8e8e8;
  padding: 20px;
}

.unhide .hidden {
  visibility: visible;
  display: block !important; /* MDL helpfully uses !important here */
}

.unhide .expand-prow {
  visibility: collapse;
  display: none;
}

#podinfo.mdl-tabs .mdl-tabs__tab-bar {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: left;
  border: 0;
}

#podinfo.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: white;
}

.mdl-data-table thead th {
  color: #e8e8e8;
  text-align: left;
  font-size: 14px;
}

code.item {
  border-width: 1px;
  border-color: rgba(0,0,0,0.6);
  display: inline-block;
  border-style: solid;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  margin-bottom: 2px;
}

.mdl-data-table__cell--non-numeric {
  white-space: normal;
}

code {
  white-space: pre-wrap;
}
