<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" />
<title>{{job}} #{{build}} {{log_file}}</title>
<script src="/static/build.js"></script>
<div id="header" class="container">
	<img src="/static/logo.svg">
	<h1>{% if pr %}<a href="/pr/{{pr}}">PR #{{pr}}</a> {% endif %}<a href="/builds{{job_dir}}">{{job}}</a> <a href="/build{{build_dir}}">#{{build}}</a> {{log_file}}</h1>
</div>
<div id="failures">
	<h3> Failed pod: {{pod}} </h3>
	<form method="get" onchange="submit()">
		<input type="hidden" name="pod" value="{{pod}}">
		<input type="hidden" name="junit" value="{{junit}}">
		<hr>
		<label><input type="checkbox" name="wrap"{% if wrap %} checked{% endif %}> Line wrapping on</label>
		% for folder, filenames in all_logs.items()|sort
			<hr>
			<h4> {{folder|basename or folder|dirname|basename}} </h4>
			% for filename in filenames
				% set log_name = filename|basename
				<label><input type="checkbox" name="logfiles" value={{filename}} {% if filename in log_files %} checked {% endif %}> {{log_name}}</label>
				<a href="https://storage.googleapis.com{{filename}}">(Full Log)</a> <br>
			% endfor
		% endfor
		<hr>
		<label><input type="checkbox" name="UID"{% if uid %} checked {% endif %}> Highlight Pod UID: <b>{% if objref_dict["UID"] %}{{objref_dict["UID"]}}<input type="hidden" name="poduid" value="{{objref_dict['UID']}}">{% else %}<input type="text" name="poduid">{% endif %}</b></label><br>
		<label><input type="checkbox" name="Namespace"{% if namespace %} checked {% endif %}> Highlight Namespace: <b>{% if objref_dict["Namespace"] %}{{objref_dict["Namespace"]}}<input type="hidden" name="ns" value="{{objref_dict['Namespace']}}">{% else %}<input type="text" name="ns">{% endif %}</b></label><br>
		<label><input type="checkbox" name="ContainerID"{% if containerID %} checked {% endif %}> Highlight ContainerID: <b>{% if objref_dict["ContainerID"] %}{{objref_dict["ContainerID"]}}<input type="hidden" name="cID" value="{{objref_dict['ContainerID']}}">{% else %}<input type="text" name="cID">{% endif %}</b></label>
	</form>
	% for file in log_files|sort
		<h3>{{file}}</a></h3>
		<pre {% if not wrap %} style="white-space:pre"{% endif %}>
			{{logs[file] | safe}}
		</pre>
	% endfor
</div>
