<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" />
<title>PR #{{pr}}</title>
<script src="/static/moment.min.js"></script>
<script src="/static/build.js"></script>
<script>window.onload = fix_timestamps;</script>
<div id="header" class="container">
<img src="/static/logo.svg">
<h1>PR #{{pr}} Results</h1>
<p><a href="https://github.com/kubernetes/kubernetes/pull/{{pr}}">View on GitHub</a></p>
</div>
% if not rows
<h2>No Results</h2>
% else
<table class="pr">
<thead>
<tr><th>Job</th><th colspan="{{max_builds}}">Build</th></tr>
<tr class="pr-version"><td></td>
{%- for version, width, started in header -%}
<th{% if width != 1 %} colspan="{{width}}"{% endif %}>{{version|github_commit_link}}<br>{{started|shorttimestamp}}</th>{% endfor %}
</thead>
% for job, results in rows
<tr><td>{{job or ''}}</td>
% for result in results
% if result == None
<td></td>
% else
% set build, status = result
<td class="pr-build-{{status | slugify}}"><a href="/build/{{prefix}}/{{pr}}/{{job}}/{{build}}/" title="Result: {{status}}">{{build}}</a></td>
% endif
% endfor
</tr>
% endfor
% endif
