% extends 'base.html'
{% block title %}PR Dashboard{% endblock %}
% block head
<link rel="stylesheet" href="{{'mdl/material.min.css'|static}}">
<script src="{{'mdl/material.min.js'|static}}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="{{'octicons/octicons.css'|static}}" />
<script src="{{'pr.js'|static}}"></script>
{{ super() }}
% endblock
% block header
	<h1>PR Dashboard</h1>
% endblock
% block content
<form id="view-form" onsubmit="document.location='/pr/' + document.getElementById('switch_user').value; return false;">
	View {% if user != login or not login %}<a href="/pr">Me</a>{% else %}<b>Me</b>{% endif %} |
		{% if user %}<a href="/pr/all">All</a>{% else %}<b>All</b>{% endif %} |
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
		<label class="mdl-button mdl-js-button mdl-button--icon" for="switch_user">
			<i class="material-icons icon">search</i>
		</label>
		<div class="mdl-textfield__expandable-holder">
			<input class="mdl-textfield__input" pattern='[-\w]+' type="text" id="switch_user">
			<label class="mdl-textfield__label">Username</label>
		</div>
	</div>
</form>

% if milestones
<div id="milestone-nav">
Filter Milestone: {% if milestone %}<a href="?">Any</a>{% else %}<b>Any</b>{% endif %}
% for ms in milestones
	% if ms == milestone
		<b>{{ms}}</b>
	% else
		<a href="?milestone={{ms}}">{{ms}}</a>
	% endif
% endfor
</div>
% endif

% for title, pred, search in cats
	% set sub_prs = prs | select(pred)
	% if title == 'Approvable' and not sub_prs
		% continue
	% endif
	% set pr_section = 'pr-section'
    % if sub_prs|length > 0
        % set pr_section = pr_section + ' mdl-badge'
    % endif
    % if sub_prs|length > 99
        % set pr_section = pr_section + ' mdl-badge--no-background'
    % endif
    <div class="pr-table-header">
    	<h5 class="{{pr_section}}" data-badge="{{sub_prs|length}}">
            <a class="header-link" id="section-{{title|slugify}}"></a>
            % if search
            <a class="header-link" href="https://github.com/pulls?q={{search|quote_plus}}">{{title}}</a>
            % else
            {{title}}
            % endif
    	</h5>
        % if title == 'Needs Attention' and acks
        <button id="delete_acks" class="clear-ack mdl-button mdl-js-button mdl-button--icon icon" onclick='ack_clear()' data-badge="">
            <i class="material-icons">delete</i>
        </button>
        <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="delete_acks">
            Clear {{acks|length}} ack(s)
        </div>
        % endif
    </div>
	% if sub_prs
    <table class="pr-dashboard-table mdl-data-table mdl-js-data-table mdl-shadow--1dp">
        <thead>
            <tr>
                <th class="db-repo mdl-data-table__cell--non-numeric">Repo</th>
                <th class="db-number">Number</th>
                <th class="db-author mdl-data-table__cell--non-numeric">Author</th>
                <th class="db-status mdl-data-table__cell--non-numeric">Status</th>
                <th class="db-update mdl-data-table__cell--non-numeric">&#9660;Updated</th>
                <th class="db-assignee mdl-data-table__cell--non-numeric">Assignees</th>
                <th class="db-size">Size</th>
                <th class="mdl-data-table__cell--non-numeric">Title</th>
                <th class="db-button mdl-data-table__cell--non-numeric"></th>
            </tr>
        </thead>
        <tbody>
        % for pr in sub_prs
            % set pl = pr.payload
            % set row_style = 'even' if loop.index % 2 == 0 else ''
            <tr id="{{title|slugify}} {{pr.repo}} {{pr.number}}" class="{{row_style}}">
                <td class="db-repo mdl-data-table__cell--non-numeric">{{pr.repo|ltrim('kubernetes/')}}</td>
                <td class="db-number" onclick="window.open('https://github.com/{{pr.repo}}/pull/{{pr.number}}', '_blank')"><strong>{{pr.number}}</strong></td>
                <td class="db-author mdl-data-table__cell--non-numeric">{{pl['author']}}</td>
                <td class="db-status mdl-data-table__cell--non-numeric">{{pl|render_status(user)}}</td>
                <td class="db-update mdl-data-table__cell--non-numeric">{{pr.updated_at|dt_to_epoch|timestamp('humantimestamp', '%b %e')}}</td>
                <td class="db-assignee wrap-cell mdl-data-table__cell--non-numeric">{{pl['assignees']|join(", ")}}</td>
                <td class="db-size">{{pl|classify_size}}</td>
                <td class="db-title wrap-cell mdl-data-table__cell--non-numeric">{{pl['title']}}</td>
                <td class="db-button mdl-data-table__cell--non-numeric">
                % if title == "Needs Attention" and acks is not none
                    % set latest = pl|get_latest(user)
                    % if latest
                    <button class="ack-button" onclick="ack(event, '{{pr.repo}}', {{pr.number}}, {{latest}});">ACK</button>
                    % endif
                % endif
                </td>
            % endfor
            </tr>
        </tbody>
    </table>
	% else
	<h6 class="pr-section">No Results</h6>
	% endif
% endfor
<hr class ="line-break">
<div>
  	<p><b>Needs Attention</b> is a heuristic grouping based on a <a href="https://git.k8s.io/test-infra/gubernator/github/classifier.py#L397">simple state machine</a>. {% if user != login or not login %}<a href="/pr">Login</a> to use {% else %}Use {% endif %} the "ACK" button to remove a PR from "Needs Attention" until something new occurs.</p>
	<p>Have a problem? <a href="https://github.com/kubernetes/test-infra/issues/new?title=PR%20Dashboard:&labels=area/gubernator&assignee=rmmh">File a bug!</a>
</div>
% endblock
