<html lang="en" ng-app="SubmitQueueApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body>
    <div layout="column" ng-controller="AppCtrl" style="margin-top: 20px; width: 80%" offset="10">
      <md-toolbar layout="row">
	<div class="md-toolbar-tools">
          <h1 flex="95">Submit Queue Status</h1>
	  <img src="https://raw.githubusercontent.com/kubernetes/kubernetes/master/logo.png" style="height: 40px" />
	</div>
      </md-toolbar>
      <div id="content" class="md-whiteframe-z2" style="padding: 20px">
	  <h2>Build Status</h2>
	  <md-chips ng-model="controller.builds" readonly="true">
	    <md-chip-template>
	      <span style="color: {{$chip.color}}">{{$chip.state}}</span> {{$chip.name}}
	    </md-chip-template>
	  </md-chips>
	  <h2>Current PR</h2>
	  <div>
	    <a href="{{controller.data.CurrentPR.html_url}}">{{controller.data.CurrentPR.title}}</a>
	  </div>
          <h2>Messages</h2>
	    <div flex="50" style="height: 300px; overflow-y: scroll">
	      <div>
		<div flex="95" class="inline" style="width: 70%"><b>Message</b></div>
		<div class="inline"><b>Date</b></div>
	      </div>
	      <div ng-repeat="msg in controller.data.Message">
		<div class="inline" style="width: 70%">{{msg.split("UTC:")[1]}}</div>
		<div class="inline" >{{msg.split("UTC:")[0]}}</div>
	      </div>
	    </div>
	  <h2>Whitelist</h2>
	  <div ng-repeat="user in controller.data.Whitelist">
	    {{user}}
	  </div>
      </div>
      <!-- Angular Material Dependencies -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
      <script src="script.js"></script>
    </div>
  </body>
</html>
