.hidden-tests {
  visibility: collapse;
  display: none;
}

.test-name {
  font-family: monospace;
}

.noselect {
  user-select: none;
}
.expander {
  font-weight:bold;
  font-size:1.5em;
}

.expander:last-of-type {
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

td.failed {
  color: #ff4040;
}

td.passed {
  color: #61ff61;
}

td.skipped {
  color: #ffe62d;
}