{{define "header"}}
<style>
    .hidden-tests {
        visibility: collapse;
    }
    .mdl-data-table__cell--non-numeric {
      font-family: monospace;
      background-color: #212121;
      color: #e8e8e8;
    }
    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
    }
    .expander {
      background-color: #333333;
      font-weight:bold;
      font-size:1.5em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
</style>

<script type="text/javascript" src="script_bundle.min.js"></script>
{{end}}

{{define "body"}}
{{$numF := len .Failed}}
{{$numP := len .Passed}}
{{$numS := len .Skipped}}
<div id="junit-container">
  <table id="junit-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space: pre-wrap;">
  {{if gt $numF 0}}
    <thead id="failed-theader" onclick="toggleExpansion('failed-tbody', 'failed-expander')">
    <tr>
      <td class="mdl-data-table__cell--non-numeric expander" style="color: #FF0000;" colspan="3"><h6>{{len .Failed}}/{{.NumTests}} Tests Failed.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="failed-expander" class="icon-button material-icons arrow-icon noselect">expand_less</i></td>
    </tr>
    </thead>
    <tbody id="failed-tbody">
    {{range $ix, $test := .Failed}}
    <tr class="dark" onclick="toggleExpansion('failed-test-body-{{$ix}}', 'failed-test-expander-{{$ix}}')">
      <td class="mdl-data-table__cell--non-numeric"><a href="{{$test.Link}}">{{$test.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric" style="color: #FF0000">{{$test.Junit.Status}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{$test.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{$test.Junit.Error.Message}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{$test.Junit.Error.Body}}</td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
    <thead id="passed-theader" onclick="toggleExpansion('passed-tbody', 'passed-expander')">
    <tr>
      <td class="mdl-data-table__cell--non-numeric expander" style="color: #00FF00" colspan="3"><h6>{{len .Passed}}/{{.NumTests}} Tests Passed!</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="passed-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    </thead>
    <tbody id="passed-tbody" class="hidden-tests">
    {{range .Passed}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="{{.Link}}">{{.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric" style="color: #00FF00">{{.Junit.Status}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    {{end}}
    </tbody>
  {{if gt $numS 0}}
    <thead id="skipped-theader" onclick="toggleExpansion('skipped-tbody', 'skipped-expander')">
    <tr>
      <td class="mdl-data-table__cell--non-numeric expander" style="color: rgba(255, 224, 0, 1.0);" colspan="3"><h6>{{len .Skipped}}/{{.NumTests}} Tests Skipped.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="skipped-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    </thead>
    <tbody id="skipped-tbody" class="hidden-tests">
    {{range .Skipped}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="{{.Link}}">{{.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric" style="color: rgba(255, 224, 0, 1.0);">{{.Junit.Status}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  </table>
</div>
{{end}}