{{define "header"}}
<link rel="stylesheet" type="text/css" href="junit.css">
<script type="text/javascript" src="script_bundle.min.js"></script>
{{end}}

{{define "body"}}
{{$numF := len .Failed}}
{{$numP := len .Passed}}
{{$numS := len .Skipped}}
<div id="junit-container">
  <table id="junit-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space: pre-wrap;">
  {{if gt $numF 0}}
    <tr id="failed-theader" class="header" onclick="toggleExpansion('failed-tbody', 'failed-expander')">
      <td class="mdl-data-table__cell--non-numeric expander failed" colspan="3"><h6>{{len .Failed}}/{{.NumTests}} Tests Failed.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="failed-expander" class="icon-button material-icons arrow-icon noselect">expand_less</i></td>
    </tr>
    <tbody id="failed-tbody">
    {{range $ix, $test := .Failed}}
    <tr class="dark" onclick="toggleExpansion('failed-test-body-{{$ix}}', 'failed-test-expander-{{$ix}}')">
      <td class="mdl-data-table__cell--non-numeric test-name"><a href="{{$test.Link}}">{{$test.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric failed">Failed</td>
      <td class="mdl-data-table__cell--non-numeric">{{$test.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  {{if gt $numP 0}}
    <tr id="passed-theader" class="header" onclick="toggleExpansion('passed-tbody', 'passed-expander')">
      <td class="mdl-data-table__cell--non-numeric expander passed" colspan="3"><h6>{{len .Passed}}/{{.NumTests}} Tests Passed!</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="passed-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    <tbody id="passed-tbody" class="hidden-tests">
    {{range .Passed}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric test-name"><a href="{{.Link}}">{{.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric passed">Passed</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  {{if gt $numS 0}}
    <tr id="skipped-theader" class="header" onclick="toggleExpansion('skipped-tbody', 'skipped-expander')">
      <td class="mdl-data-table__cell--non-numeric expander skipped" colspan="3"><h6>{{len .Skipped}}/{{.NumTests}} Tests Skipped.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="skipped-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    <tbody id="skipped-tbody" class="hidden-tests">
    {{range .Skipped}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric test-name"><a href="{{.Link}}">{{.Junit.Name}}</a></td>
      <td class="mdl-data-table__cell--non-numeric skipped">Skipped</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  </table>
</div>
{{end}}