{{define "header"}}
<link rel="stylesheet" type="text/css" href="junit.css">
<script type="text/javascript" src="script_bundle.min.js"></script>
{{end}}

{{define "body"}}
{{$numF := len .Failed}}
{{$numP := len .Passed}}
{{$numS := len .Skipped}}
<div id="junit-container">
  <table id="junit-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  {{if gt $numF 0}}
    <tr id="failed-theader" class="header section-expander">
      <td class="mdl-data-table__cell--non-numeric expander failed" colspan="1"><h6>{{len .Failed}}/{{.NumTests}} Tests Failed.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="failed-expander" class="icon-button material-icons arrow-icon noselect">expand_less</i></td>
    </tr>
    <tbody id="failed-tbody">
    {{range $ix, $test := .Failed}}
    <tr>
      <td colspan="2" style="padding: 0;">
        <table class="failed-layout">
          <tr class="failure-name">
            <td class="mdl-data-table__cell--non-numeric test-name">{{$test.Junit.Name}}&nbsp;<i class="icon-button material-icons arrow-icon">expand_more</i></td>
            <td class="mdl-data-table__cell--non-numeric" style="text-align: right;">{{$test.Junit.Duration}}</td>
          </tr>
          <tr class="hidden failure-text">
            <td colspan="2" class="mdl-data-table__cell--non-numeric">
              <div>{{$test.Junit.Failure}}</div>
              {{if $test.Junit.Output}}
              <a href="#" class="open-stdout">open stdout<i class="material-icons" style="font-size: 1em; vertical-align: middle; padding-left: 3px;">open_in_new</i></a>
              <pre style="display: none;">{{$test.Junit.Output}}</pre>
              {{end}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  {{if gt $numP 0}}
    <tr id="passed-theader" class="header section-expander">
      <td class="mdl-data-table__cell--non-numeric expander passed" colspan="1"><h6>{{len .Passed}}/{{.NumTests}} Tests Passed!</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="passed-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    <tbody id="passed-tbody" class="hidden-tests">
    {{range .Passed}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric test-name">{{.Junit.Name}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  {{if gt $numS 0}}
    <tr id="skipped-theader" class="header section-expander">
      <td class="mdl-data-table__cell--non-numeric expander skipped" colspan="1"><h6>{{len .Skipped}}/{{.NumTests}} Tests Skipped.</h6></td>
      <td class="mdl-data-table__cell--non-numeric expander"><i id="skipped-expander" class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    <tbody id="skipped-tbody" class="hidden-tests">
    {{range .Skipped}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric test-name">{.Junit.Name}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{.Junit.Duration}}</td>
    </tr>
    {{end}}
    </tbody>
  {{end}}
  </table>
</div>
{{end}}