### job-env

E2E_OPT="--check_version_skew=false"
E2E_UPGRADE_TEST="true"
GINKGO_UPGRADE_TEST_ARGS="--ginkgo.focus=\[Feature:ClusterUpgrade\] --upgrade-target=ci/${version_new} --upgrade-image=${image_new}"
JENKINS_PUBLISHED_SKEW_VERSION="ci/${version_new}"
JENKINS_PUBLISHED_VERSION="ci/${version_old}"
KUBE_NODE_OS_DISTRIBUTION="${image_old}"

### version-env

