### job-env

E2E_OPT="--check_version_skew=false"
GINKGO_PARALLEL="y"
GINKGO_TEST_ARGS="--ginkgo.focus=Kubectl"
JENKINS_PUBLISHED_SKEW_VERSION="ci/${version_client}"
JENKINS_PUBLISHED_VERSION="ci/${version_cluster}"
KUBE_GKE_IMAGE_TYPE="${image_old}"

### version-env

