body {
    background-color: #fafafa;
    color: #222;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: .85rem;
    line-height: 1.4;
    margin: 0 2vw 100px;
}
@media (min-width: 480px) {
    body {
        font-size: 1rem;
    }
}
#header {
    align-items: center;
    background-color: #0f2840;
    box-shadow: 0px 0px 8px #666;
    color: #fff;
    display: flex;
    height: 13.5vw;
    margin: 0 -2vw;
    max-height: 13.5vh;
    min-height: 4vh;
    justify-content: space-between;
    padding: .5rem 2vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#header img {
    height: 13vw;
    margin-top: 20px;
    max-height: 10vh;
    min-height: 2rem;
}
#summary {
    text-align: center;
}
#header h1 {
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
#header a {
    color: #72b1f7;
}
@media (max-width:768px) {
    #header p {
        font-size: 12px;
        text-align: right;
    }
}
@media (min-width:768px) {
    #header h1 {
        font-size: 2.5vw;
    }
}
h1.section-header {
    font-size: 1.25rem;
}
@media(min-width:768px) {
    h1.section-header {
        font-size: 1.75rem;
    }
}
h2.link {
    font-size: 1.1rem;
}
@media(min-width:585px) {
    h2.link {
        background: #fafafa;
        font-size: 1.25rem;
        padding: 5px 0 5px 10px;
        position: fixed;
        right: 2vw;
    }
}
a {
    text-decoration-skip: ink;
    text-decoration: none;
}
ul li {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    min-width: 0;
}
ul#jobs-list {
    list-style: none;
    padding: 0;
}
li.jobs-list h2 {
    border-bottom: 2px solid #ddd;
    font-size: 1.25rem;
    font-weight: normal;
}
h2.link,
li.jobs-list h2+a {
    color: blue;
}
span[class^="build"] {
    display: inline-block;
    min-width: 260px;
}
@media (min-width: 480px) {
    span[class^="build"] {
        min-width: 400px;
        padding-left: 10px;
    }
}
span[class^="build"]:after,
span[class^="build"]:before {
    position: absolute;
    top: 50%;
    content: '';
}

/* original */
pre {
    white-space: pre-wrap;
    word-break: break-word;
}
pre.nowrap{
    white-space: pre;
}
pre.error {
    margin: .5em 0 1em 2em;
    padding: 10px;
    background-color: #eee;
    display: inline-block;
    border-radius: 0px;
    box-shadow: 0px 3px 3px 0 #aaa;
}
pre.cmd {
    padding: 1em;     /* make the click target large */
    margin: 0 0 0 0;  /* margin isn't clickable */
    font-size: 9pt;
    color: #777;
}
pre.cmd::before {
    content: "Command: ";  /* This text isn't selectable */
}
span.highlight {
    background-color: palegoldenrod;
}
span.keyword {
    font-weight: bolder;
}
span.skip {
    color: #999;
    text-decoration: underline;
}
span.skip:hover {
    cursor: pointer;
}
span.inset-filename {
    float: right;
    color: #777;
    margin-left: 3em;
}
span.time {
    font-weight: lighter;
    font-family: monospace;
}
span.inset-expand {
    float: left;
    color: #777;
}
.hidden {
    display: none;
}
.expand {
    cursor: pointer;
    text-decoration: underline;
}
a.anchor, pre.error>a {
    color: inherit;
}
a.anchor:target {
    color: blue;
}
table.pr {
    margin: 20px;
}
tr.pr-version th {
    background-color: lightgrey;
}
table.pr td {
    padding: 5px;
    max-width: 30vw;
}
.build-success {
    background-color: #b9f6b8;
}
.build-failure {
    background-color: #F88;
}
.build-unset {
    background-color: lightgrey;
}
.build-unstable {
    background-color: yellow;
}
label:hover {
    cursor: pointer;
}
table.pr-dash {
    border-spacing: 0;
    background: #EEE;
    border: 2px solid black;
}
table.pr-dash tbody tr {
    cursor: pointer;
}
table.pr-dash tbody tr:hover {
    background: #E3E9A0;
}
#prdash-nav {
    margin: 10px 0 0 40px;
}
#userBox {
    width: 10em;
}
table.build-meta {
    padding-top: 30px;
    text-align: left;
    word-break: break-word;
    margin: 0 auto;  /* center */
}
table.build-meta tr:nth-child(even) {
    background: #ddd;
}
table.build-meta td:nth-child(2) {
    max-width: 60vw;
}
table.build-meta td {
    padding:4px 10px 4px 10px;
}
table.build-meta td span {
    display: inline;
    padding-left: 0;
}
h3.pr-section {
    margin: 1em 0 0 1em;
}
h4.pr-section {
    margin-left: 3em;
}
.text-success { color: #55a532; }
.text-pending { color: #cea61b; }
.text-failure { color: #bd2c00; }

.testlist {
    margin-left: 2em;
}
.testlist p {
    margin: 0;
}

/* ansi colors from https://en.wikipedia.org/wiki/ANSI_escape_code#Colors */
.ansi-0 { color: #000000; }  /* Black */
.ansi-1 { color: #c23621; }  /* Red */
.ansi-2 { color: #25bc26; }  /* Green */
.ansi-3 { color: #adad27; }  /* Brown */
.ansi-4 { color: #492ee1; }  /* Blue */
.ansi-5 { color: #d338d3; }  /* Magenta */
.ansi-6 { color: #33bbc8; }  /* Cyan */
.ansi-7 { color: #cbcccd; }  /* Gray */
/* Bright */
.ansi-8 { color: #818383; }  /* Darkgray */
.ansi-9 { color: #fc391f; }  /* Red */
.ansi-10 { color: #31e722; }  /* Green */
.ansi-11 { color: #eaec23; }  /* Yellow */
.ansi-12 { color: #5833ff; }  /* Blue */
.ansi-13 { color: #f935f8; }  /* Magenta */
.ansi-14 { color: #14f0f0; }  /* Cyan */
.ansi-15 { color: #e9ebeb; }  /* White */
ul.nav {
    list-style-type:none;
    padding: 0;
}
li.nav {
    padding: 5px 20px 5px 20px;
    display: inline-block;
    background-color: #eee;
}
div#log {
    padding: 0 0 50px 2vw;
    background-color: #f4f4f4;
    margin: 0 -2vw;
    border-top: 2px solid darkgray;
}
div#log hr {
  display: none;
}
ul.log {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
li.log {
    padding: 5px;
    display: inline-block;
}

/* weak mobile support */
@media (max-device-width: 500px) {
    body { font-size: xx-large; }
    pre { font-size: x-small; }
    pre.cmd { display: none; }
    pre.error { font-size: medium; }
    button { font-size: xx-large; }
}
