li > * {
  cursor: default;
}
li, li > span {
  cursor: pointer;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  overflow: auto;
  background-color: #eee;
  max-height: 800px;
}

pre span.mm {
  color: grey;
}

.clearoptions {
  cursor: pointer;
}

div.failure {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

div.failure > h2 {
  margin: 0;
  padding: 0;
}

input[type=text] {
  width: 500px;
}

h2 > a {
  font-size: 14px;
  padding: 10px 0 0 10px;
}

span.owner {
  cursor: pointer;
  margin: 10px;
  padding: 0 10px 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: var(--color, #eee);
}

button.toggle {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border-color: var(--color, #eee);
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0);
}

button.toggle.active {
  background-color: var(--color, #eee);
}

/* colors from http://colorbrewer2.org/#type=qualitative&scheme=Set3&n=12 */
.sig-api-machinery      { --color: #bc80bd; }
.sig-apps               { --color: #ffffb3; }
.sig-autoscaling        { --color: #bebada; }
.sig-big-data           { --color: #fb8072; }
.sig-cli                { --color: #80b1d3; }
.sig-cluster-lifecycle  { --color: #fdb462; }
.sig-multicluster       { --color: #b3de69; }
.sig-instrumentation    { --color: #fccde5; }
.sig-network            { --color: #d9d9d9; }
.sig-node               { --color: #8dd3c7; }
.sig-scalability        { --color: #ccebc5; }
.sig-scheduling         { --color: #ffed6f; }
.sig-storage            { --color: #aaf; }
.sig-ui                 { --color: #afa; }
.sig-testing            { --color: #faa; }

div.graph {
  width: 1200px;
  height: 200px;  /* keep synchronized with script.js:graphHeight */
}

/* http://stackoverflow.com/a/17579580/3694 */
span[data-tooltip]:hover {
  position: relative;
}

span[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background: white;
  white-space: nowrap;
  padding: 4px 4px;
  border: 1px solid black;
  border-radius: 5px;
}

td {
  padding: 0 1.5em 0 0;
}

table {
  margin: 5px;
}

ul {
  padding-left: 20px;
}

button.rest {
  width: 20em;
}

button.rest ~ * {
  display: none;
}
