li > * {
  cursor: default;
}
li, li > span {
  cursor: pointer;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  overflow: auto;
  background-color: #eee;
  max-height: 800px;
}

h2 {
  position: sticky;
  top: 0px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}

input[type=text] {
  width: 500px;
}

h2 > a {
  font-size: 14px;
  padding: 10px 0 0 10px;
}

div.graph {
  width: 1200px;
  height: 200px;  /* keep synchronized with script.js:graphHeight */
}

/* http://stackoverflow.com/a/17579580/3694 */
span[data-tooltip]:hover {
  position: relative;
}

span[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background: white;
  white-space: nowrap;
  padding: 4px 4px;
  border: 1px solid black;
  border-radius: 5px;
}

td {
  padding: 0 1.5em 0 0;
}

table {
  margin: 5px;
}

ul {
  padding-left: 20px;
}

button.rest {
  width: 20em;
}

button.rest ~ * {
  display: none;
}
