<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Kubernetes 24-Hour Test Report</title>
    </head>
    <body>
        <header>
            <img id="logo" src="logo.svg" />
            <h1><a href="#">Kubernetes 24-Hour Test Report</a></h1>
            <p>Last Updated {{ last_updated }}</p>
        </header>
        <article style="display: table">
            <table style="display: table-cell">
                <caption><strong>Jobs run by the Kubernetes contributors.</strong> The Passed and Failed columns measure the test flake rate for the job. The Tests, Stable, Unstable, and Broken columns measure the flake rate for the tests. A test is stable if it hasn't failed, unstable if it occasionally fails, and broken if it always fails.</caption>
                {% for job_group in job_groups %}
                <tr>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Job Name</th>
                    <th>Tests</th>
                    <th>Stable</th>
                    <th>Unstable</th>
                    <th>Broken</th>
                </tr>
                {% for job in job_group %}
                <tr>
                    <td class="numeric">{{ job.passed }}</td>
                    <td class="numeric {{failure_class(job.passed, job.failed)}}">{% if job.latest_failure is none %}{{ job.failed }}{% else %}<a title="Latest Failure" href="{{ job.latest_failure }}">{{ job.failed }}</a>{% endif %}</td>
                    <td style="white-space: nowrap">{% if job.tests > 0 %}<a href="suite-{{ job.name | urlencode }}.html">{{ job.name }}</a>{% else %}{{ job.name }}{% endif %}</td>
                    <td class="numeric">{{ job.tests }}</td>
                    <td class="numeric">{{ job.stable }}</td>
                    <td class="numeric">{{ job.unstable }}</td>
                    <td class="numeric">{{ job.broken }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
            <table style="display: table-cell">
                <caption><strong>Tests that have failed in merge-blocking jobs.</strong> Passed and Failed counts sum across all merge-blocking jobs in which the test runs.</caption>
                <tr>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Test Name</th>
                </tr>
                {% for test in bad_tests %}
                <tr>
                    <td class="numeric">{{ test.passed }}</td>
                    <td class="numeric">{% if test.latest_failure is none %}{{ test.failed }}{% else %}<a title="Example Failure" href="{{ test.latest_failure }}">{{ test.failed }}</a>{% endif %}</td>
                    <td>{{ test.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </article>
    </body>
</html>
