<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Kubernetes 24-Hour Test Report</title>
    </head>
    <body>
        <header>
            <img id="logo" src="logo.svg" />
            <h1><a href="index.html">Kubernetes 24-Hour Test Report</a></h1>
            <p>{{ job_name }}</p>
        </header>
        <article>
        <table>
            <tr>
                <th>Passed</th>
                <th>Failed</th>
                <th>Avg Time (s)</th>
                <th>Test</th>
            </tr>
            {% for test in tests %}
            <tr>
                <td class="numeric">{{ test.passed }}</td>
                <td class="numeric">{% if test.latest_failure is none %}{{ test.failed }}{% else %}<a title="Latest Failure" href="{{ test.latest_failure }}">{{ test.failed }}</a>{% endif %}</td>
                <td class="numeric">{{ (test.duration / test.runs)|round|int }}</td>
                <td>{{ test.name }}</td>
            </tr>
            {% endfor %}
        </table>
        </article>
    </body>
</html>
