cmd/hook/hook
cmd/line/line
cmd/sinker/sinker
cmd/deck/deck
cmd/splice/splice
cmd/marque/marque
cmd/tot/tot
cmd/tot/fallbackcheck/fallbackcheck
cmd/crier/crier
cmd/horologium/horologium
cmd/plank/plank
cmd/jenkins-operator/jenkins-operator
cmd/tide/tide
cmd/clonerefs/clonerefs
cmd/initupload/initupload
