body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
#header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 0px 10px #666;
}
#header a {
    color: white;
}
#header img {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 20px;
}
#summary {
    text-align: center;
}
#failures {
    padding: 0 0 0 10px;
}
h3 {
    margin: 0.67em 0 0 0;
}
pre {
    white-space: pre-wrap;
}
pre.error {
    margin: .5em 0 1em 2em;
    padding: 10px;
    background-color: #eee;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 0 #aaa;
}
pre.cmd {
    padding: 1em;     /* make the click target large */
    margin: 0 0 0 0;  /* margin isn't clickable */
    font-size: 9pt;
    color: #777;
}
pre.cmd::before {
    content: "Command: ";  /* This text isn't selectable */
}
span.time {
    font-weight: lighter;
    font-family: monospace;
}
a.anchor, pre.error>a {
    color: inherit;
}
a.anchor:target {
    color: blue;
}
