<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Job View</title>
      <link id="favicon" rel="icon" type="image/png" href="/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/style.css">
      <link rel="stylesheet" type="text/css" href="/extensions/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <script type="text/javascript" src="/script.js"></script>
      <script type="text/javascript" src="/extensions/script.js"></script>
      <script type="text/javascript" src="/branding.js?var=branding"></script>
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body onload="loadViews()">
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <a href="https://github.com/kubernetes/test-infra/tree/master/prow#prow" class="logo"><img id="img" src="/logo.svg" alt="kubernetes logo" class="logo"/></a>
            <span class="mdl-layout-title header-title">Job View</span>
            <span class="mdl-layout-title header-title">{{.Source}}</span>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Prow Dashboard</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-navigation__link--current" href="/">Prow Status</a>
            <a class="mdl-navigation__link" href="/pr">PR Status</a>
            <a class="mdl-navigation__link" href="/command-help">Command Help</a>
            <a class="mdl-navigation__link" href="/tide">Tide Status</a>
            <a class="mdl-navigation__link" href="/plugins">Plugins</a>
          </nav>
        </div>
        <main class="mdl-layout__content" id="lens-container">
          {{range .Views}}
          <div class="mdl-card mdl-shadow--2dp lens-card">
          <div class="mdl-card__title lens-title"><h3 class="mdl-card__title-text">{{.Title}}</h3></div>
          <div id="{{.Name}}-view-container" class="lens-view-content mdl-card__supporting-text">
            <div class="mdl-spinner mdl-js-spinner is-active lens-card-loading" id="{{.Name}}-loading"></div>
              <div id="{{.Name}}-view"></div>
            </div>
          </div>
          {{end}}
        </main>
      </div>
    </div>
    <script>
      var pageUrl = window.location.href;
      var urlObj = new URL(pageUrl);
      var src = {{.Source}}
      var viewerCache = {{ .ViewerCache}};

      // Loads views for this job
      function loadViews() {
        {{.Views}}.map(view => {
          refreshView(view.Name, '{}')
        });
      }

      // refreshView refreshes a single view. Use this function to to communicate with your viewer backend.
      function refreshView(viewName, viewData) {
        requestReload(viewName, createBody(viewName, viewData))
      }

      // Add a function here with a standard body response (list of matching artifacts, etc)
      function createBody(viewName, viewData) {
        var body = new Object();
        body.name = viewName;
        body.viewMatches = viewerCache[viewName];
        body.viewData = viewData;
        return JSON.stringify(body);
      }

      // asynchronously requests a reloaded view of the provided viewer given a body request
      function requestReload(name, body) {
        insertLoading(name);
        const url = "/view/render?src="+encodeURIComponent(src)+"&name="+encodeURIComponent(name);
        var req = new XMLHttpRequest();
        req.open('POST', url, true);
        req.setRequestHeader('Content-Type', 'application/json')
        req.onreadystatechange = function() {
          if (req.readyState === 4 && req.status === 200) {
            var lensJson = JSON.parse(req.responseText);
            insertView(name, lensJson.HTMLView);
          } else if (req.readyState === 4 && !(req.status === 200)) {
            insertView(name, "<div>Error: " + req.status +"</div>");
          }

        }
        req.send(body);
      }

      // Insert rendered view into page and remove loading wheel
      function insertView(name, content) {
        document.getElementById(name + "-loading").style.display = "none";
        document.getElementById(name + "-view").innerHTML = content;
      }

      // Show loading wheel over view
      function insertLoading(name) {
        document.getElementById(name + "-loading").style.display = "block";
      }

      // Show all lines in specified log
      function showAllLines(logId) {
        document.getElementById(logId + "-show-all").style.display = "none";
        var log = document.getElementById(logId);
        var skipped = log.querySelectorAll(".skipped");
        for (var i = 0; i < skipped.length; i++) {
          skipped[i].style.display = "table-row-group";
        }
        // hide any remaining "show hidden lines" buttons
        var showSkipped = log.querySelectorAll(".show-skipped");
        for (var i = 0; i < showSkipped.length; i++) {
          showSkipped[i].style.display = "none";
        }
      }

      function showLines(linesId, skipId) {
        // show a single group of hidden lines
        document.getElementById(linesId).style.display = "table-row-group";
        // hide the corresponding button
        document.getElementById(skipId).style.display = "none";
      }

    </script>
  </body>
</html>

